<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Board member #<%= @board_member.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/board_members" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @board_member.user %>
          <a href="/board_members/<%= @board_member.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit board_member
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @board_member.user %>
          <a href="/delete_board_member/<%= @board_member.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete board_member
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @board_member.name %>
      </dd>

      <dt>
        Committee
      </dt>
      <dd>
        <%= @board_member.committee_id %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @board_member.user.present? %>
          <a href="/users/<%= @board_member.user_id %>">
            <%= @board_member.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@board_member.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@board_member.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "board_member_templates/board_member_responses" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "board_member_templates/board_member_committees" %>
  </div>
</div>
