<% if @my_question.errors.any? %>
  <% @my_question.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit my question #<%= @my_question.id %>
</h1>

<hr>

<form action="/update_my_question/<%= @my_question.id %>" method="post">

  <div class="form-group">
    <label for="committee_id">
      Committee
    </label>

    <input type="text" id="committee_id" name="committee_id" class="form-control" value="<%= @my_question.committee_id %>">
  </div>

  <div class="form-group">
    <label for="question_details">
      Question details
    </label>

    <textarea id="question_details" name="question_details" class="form-control" rows="3"><%= @my_question.question_details %></textarea>
  </div>

  <div class="form-group">
    <label for="notes">
      Notes
    </label>

    <textarea id="notes" name="notes" class="form-control" rows="3"><%= @my_question.notes %></textarea>
  </div>


  <button class="btn btn-block btn-outline-secondary">
    Update my question
  </button>
</form>

<hr>

<a href="/my_questions">
  Go back
</a>
