<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      My question #<%= @my_question.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/my_questions" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link my_question start -->
      <div class="col">
        <a href="/my_questions/<%= @my_question.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit my question
        </a>
      </div>
      <!-- Edit link my_question end -->

      <!-- Delete link my_question start -->
      <div class="col">
        <a href="/delete_my_question/<%= @my_question.id %>" class="btn btn-block btn-outline-secondary">
          Delete my question
        </a>
      </div>
      <!-- Delete link my_question end -->
    </div>

    <dl>
      <dt>
        Committee
      </dt>
      <!-- Display committee_id start -->
      <dd>
        <%= @my_question.committee_id %>
      </dd>
      <!-- Display committee_id end -->

      <dt>
        Question details
      </dt>
      <!-- Display question_details start -->
      <dd>
        <%= @my_question.question_details %>
      </dd>
      <!-- Display question_details end -->

      <dt>
        Notes
      </dt>
      <!-- Display notes start -->
      <dd>
        <%= @my_question.notes %>
      </dd>
      <!-- Display notes end -->

      <dt>
        User
      </dt>
      <!-- Display user_id start -->
      <dd>
        <%= @my_question.user_id %>
      </dd>
      <!-- Display user_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@my_question.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@my_question.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->

<!-- Show Page Customization end -->
