<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      My question #<%= @my_question.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/my_questions" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @my_question.user %>
          <a href="/my_questions/<%= @my_question.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit my_question
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @my_question.user %>
          <a href="/delete_my_question/<%= @my_question.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete my_question
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Committee
      </dt>
      <dd>
        <%= @my_question.committee_id %>
      </dd>

      <dt>
        Question details
      </dt>
      <dd>
        <%= @my_question.question_details %>
      </dd>

      <dt>
        Notes
      </dt>
      <dd>
        <%= @my_question.notes %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @my_question.user.present? %>
          <a href="/users/<%= @my_question.user_id %>">
            <%= @my_question.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@my_question.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@my_question.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "my_question_templates/my_question_responses" %>
  </div>
</div>
