<!-- Validation failure messages -->
<% if @committee.errors.any? %>
  <% @committee.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit committee #<%= @committee.id %>
</h1>

<hr>

<!-- Form committee start -->
<form action="/update_committee/<%= @committee.id %>" method="post">
<!-- Form committee end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @committee.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for board_members_id start -->
  <div class="form-group">
    <label for="board_members_id">
      Board members
    </label>

    <!-- Input for board_members_id start -->
    <%= select_tag(:board_members_id, options_from_collection_for_select(BoardMember.all, :id, :name, @committee.board_members_id), :class => "form-control") %>
    <!-- Input for board_members_id end -->
  </div>
  <!-- Label and input for board_members_id end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @committee.user_id %>">
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update committee
  </button>
</form>

<hr>

<a href="/committees">
  Go back
</a>
