<% if @response.errors.any? %>
  <% @response.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit response #<%= @response.id %>
</h1>

<hr>

<form action="/update_response/<%= @response.id %>" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(MyQuestion.all, :id, :committee_id, @response.user_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="my_questions_id">
      My questions
    </label>

    <input type="text" id="my_questions_id" name="my_questions_id" class="form-control" value="<%= @response.my_questions_id %>">
  </div>

  <div class="form-group">
    <label for="response">
      Response
    </label>

    <textarea id="response" name="response" class="form-control" rows="3"><%= @response.response %></textarea>
  </div>

  <div class="form-group">
    <label for="board_members_id">
      Board members
    </label>

    <%= select_tag(:board_members_id, options_from_collection_for_select(BoardMember.all, :id, :name, @response.board_members_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update response
  </button>
</form>

<hr>

<a href="/responses">
  Go back
</a>
