<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All responses
    </h1>

    <a href="/responses/new" class="btn btn-block btn-outline-secondary">
      Add a new response
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "response_templates/responses_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          My questions
        </th>

        <th>
          Response
        </th>

        <th>
          Board members
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @responses.each do |response| %>
      <tr>
        <td>
          <%= response.id %>
        </td>

        <td>
          <% if response.question.present? %>
            <a href="/my_questions/<%= response.question.id %>">
              <%= response.question.committee_id %>
            </a>
          <% end %>
        </td>

        <td>
          <%= response.my_questions_id %>
        </td>

        <td>
          <%= response.response %>
        </td>

        <td>
          <% if response.board_members.present? %>
            <a href="/board_members/<%= response.board_members.id %>">
              <%= response.board_members.name %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(response.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(response.updated_at) %> ago
        </td>

        <td>
          <a href="/responses/<%= response.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @responses, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
