<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Response #<%= @response.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/responses" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/responses/<%= @response.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit response
        </a>
      </div>

      <div class="col">
        <a href="/delete_response/<%= @response.id %>" class="btn btn-block btn-outline-secondary">
          Delete response
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <% if @response.question.present? %>
          <a href="/my_questions/<%= @response.user_id %>">
            <%= @response.question.committee_id %>
          </a>
        <% end %>
      </dd>

      <dt>
        My questions
      </dt>
      <dd>
        <%= @response.my_questions_id %>
      </dd>

      <dt>
        Response
      </dt>
      <dd>
        <%= @response.response %>
      </dd>

      <dt>
        Board members
      </dt>
      <dd>
        <% if @response.board_members.present? %>
          <a href="/board_members/<%= @response.board_members_id %>">
            <%= @response.board_members.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@response.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@response.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

